* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 100vh;
    width: 100%;
    background-image: url(../images/png/iphonetitanium.jpg);
    background-position: 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}

#lista-menu {
    display: flex;
    background-color: rgb(0, 0, 0, 0.7);
    backdrop-filter: saturate(180%) blur(5px);
    position: fixed;
    padding: 15px 0;
    width: 100%;
    justify-content: space-around;
    list-style: none;
}

.itens-menu {
    font-size: 20px;
    font-weight: 900;
    color: white;
}

#store {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#title-principal {
    margin-top: 40px;
    font-size: 40px;
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.grid-store {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    justify-content: space-around;
}

.phone {
    max-width: 100%;
    display: grid;
    place-items: center;
    border: 2px black solid;
    border-radius: 40px;
    filter: drop-shadow(15px 15px 15px white);
    padding: 20px;
    margin: 30px 0;
}

.phone img {
    max-width: 100%;
    filter: drop-shadow(15px 15px 15px black);
}

.phone h1 {
    position: absolute;
    top: 105%;
    border: 2px black solid;
    border-radius: 40px;
    padding: 10px;
    font-weight: 900;
    cursor: pointer;
}

.phone h1:hover {
    background-color: black;
    color: white;
    
}